<% include partials/header %>

<h1><%=campground.name %></h1>
<div class="thumbnail">	
    <img src="<%= campground.image %>">
</div>
<p><%= campground.description %></p>


<% include partials/footer %>